:root {
    --primary-color: rgb(236, 236, 236);
    --secondary-color: rgb(21, 21, 21);
    --blue-color: #2bc5cd;
    --orange-color: #ff693d;
    --border: 2px solid var(--blue-color);
    --spacing: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Resto del CSS */

.school {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
    grid-area: school;
}

.student {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
    grid-area: student;
}

.time {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
    grid-area: time;
}

.alumno {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
    grid-area: alumno;
}

.school,
.student,
.time,
.alumno {
    background-size: cover;
    display: grid;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
    min-width: 500px;
    grid-template-areas:
        "header school student"
        "header main time"
        "alumno footer footer";
}

@media (max-width: 768px) {
    body {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "school"
            "student"
            "main"
            "time"
            "alumno"
            "footer";
    }
}

header {
    background-color: var(--blue-color);
    color: white;
    display: grid;
    grid-area: header;
    padding: 1rem;
}

header h1, header p {
    text-align: center;
    margin: 0.5rem 0;
}

footer {
    background-color: var(--orange-color);
    color: white;
    display: grid;
    padding: 2rem;
    grid-area: footer;
}

footer button {
    background-color: white;
    border-style: none;
    width: 20%;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 250px;
}

footer button:hover {
    background-color: var(--orange-color);
    color: white;
    cursor: pointer;
}

main {
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: main;
}
